.input {
  border: solid 2px var(--border);
  border-radius: 4px;
  display: flex;
  min-height: 40px;

  &:focus-within {
    outline: dashed 2px var(--primary);
    outline-offset: 2px;
  }

  &__field {
    appearance: none;
    background-color: transparent;
    border: none;
    flex: 1;
    padding: 0 1rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: inherit;
    }
  } 
}