.container {
  width: 100%;

  .comment {
    align-items: center;
    background-color: var(--raised);
    transition: opacity 200ms ease-in-out;

    & > div:first-of-type {
      max-width: 30%;

      p {
        text-align: center;
      }
    }

    &--loading {
      opacity: 0.3;
    }
  
    p {
      white-space: pre-line;
    }
  
    &__date {
      font-size: 0.8rem;
      margin-top: 1.5rem;
    }
  
    &__delete {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
  
      &:hover,
      &:focus-visible {
        outline: none;

        span {
          color: var(--error);
        }
      }
    }

    &__error {
      background-color: var(--error);
      display: flex;
      font-size: 0.9rem;
      justify-content: space-between;
      padding: 0.5rem 2rem;

      &__message,
      &__button {
        color: #ffffff;
      }

      &__button {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
