.text {
  margin-bottom: 2rem;
  white-space: pre-wrap;

  &--as-link {
    margin-bottom: 0.5rem;
  }

  &--clamped {
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    color: var(--primary);
    text-decoration: underline;
  }
}