.container {
  .title {
    margin-right: -6px;
    text-align: right;
  }

  .skill {
    align-items: center;
    display: flex;
    gap: 2rem;
    position: relative;

    &__dots--desktop {
      display: none;
      @media only screen and (min-width: 680px) {
        display: block;
      }
    }

    &__dots--mobile {
      display: block;
      @media only screen and (min-width: 680px) {
        display: none;
      }
    }

    &__details {
      min-width: 0;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    &__image {
      flex-shrink: 0;
    }

    &__name {
      align-items: center;
      display: flex;
      font-size: 2.1rem;
      gap: 1rem;
      margin: 1rem 0;
      text-transform: capitalize;

      &__dots {
        flex: 1;
        margin-right: 4px;
        position: unset;
      }
    }

    &__description {
      margin: 0 2rem 1rem 0;
    }

    &--design {
      // this transparent border provides the space for the marchin ants component
      border-right: solid 6px transparent;

      img {
        max-width: 47%;
      }
    }

    &--backend {
      flex-direction: row-reverse;
      gap: 0;

      .skill__image {
        // these transparent border provides the space for the marchin ants component
        border: solid 6px transparent;
        border-right: 0;
        max-width: 37%;
        padding: 2rem 0 2rem 2rem;
        position: relative;
      }
    }

    &--frontend {
      align-items: flex-start;

      img {
        max-width: 37%;
      }

      .skill__name {
        justify-content: flex-end;
        margin: 4rem 0 1rem;
        
        &__dots-down {
          bottom: unset;
          height: 5.3rem;
        }
      }
    }
  }

  @media only screen and (max-width: 680px) {
    .skill {
      align-items: center;
      border-right: solid 6px transparent;
      flex-direction: column;

      &--design {
        img {
          margin-top: 4rem;
          max-width: 90%;
        }
      }

      &--backend {
        .skill__image {
          border: 0;
          max-width: 70%;
          padding: 0;
        } 
      }

      &--frontend {
        .skill__details {
          outline: solid 6px var(--background);
          position: relative;
        }

        img {
          max-width: 80%;
        }
  
        .skill__name {
          margin: 1rem 0;
          position: relative;
  
          &__dots-down {
            height: 2.6rem;
            top: -1.2rem;
          }
        }
      }
    }
  }
}