.container {
  display: inline-block;
  position: relative;

  &__corner {
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;

    &--first {
      border-color: var(--background) transparent transparent transparent;
      border-width: 20px 20px 0 0;
      left: 0;
      top: 0;
    }

    &--last {
      border-color: transparent transparent var(--background) transparent;
      border-width: 0 0 20px 20px;
      bottom: 0;
      right: 0;
    }
  }

  &--border {
    border: solid 2px var(--primary);

    & > .container__corner {
      &::after {
        border-style: solid;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
      }

      &--first {
        border-color: var(--primary) transparent transparent transparent;
        border-width: 22px 22px 0 0;
        left: -2px;
        top: -2px;

        &::after {
          border-color: var(--background) transparent transparent transparent;
          border-width: 19px 19px 0 0;
          bottom: 3px;
          left: 0;
        }
      }
  
      &--last {
        border-color: transparent transparent var(--primary) transparent;
        border-width: 0 0 22px 22px;
        bottom: -2px;
        right: -2px;

        &::after {
          border-color: transparent transparent var(--background) transparent;
          border-width: 0 0 19px 19px;
          right: 0;
          top: 3px;
        }
      }
    }
  }

  &--raised {
    & > .container__corner {
      &--first {
        border-color: var(--raised) transparent transparent transparent;
      }

      &--last {
        border-color: transparent transparent var(--raised) transparent;
      }
    }
  }

  &.container--raised.container--border {
    & > .container__corner {
      &--first {
        border-color: var(--primary) transparent transparent transparent;

        &::after {
          border-color: var(--raised) transparent transparent transparent;
        }
      }

      &--last {
        border-color: transparent transparent var(--primary) transparent;

        &::after {
          border-color:  transparent transparent var(--raised) transparent;
        }
      }
    }
  }
}